html, body {
  font-family: 'Quicksand-light', Helvetica, sans-serif;
  font-size: 25px;
  color: #2D3B4E;
  margin: 0;
}

a {
  text-decoration: none;
}

.preload {
  width:300px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px; /* Negative half of height. */
  margin-left: -150px;
}

.allContent {
  display:none;
}
